In [3]:
import pyodbc

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      'SERVER=localhost;'
                      'DATABASE=PROYECTO;'
                      'UID=sa;'
                      'PWD=Covid2021;')

cursor = conn.cursor()

In [4]:
import pandas as pd

In [5]:
SQL_Query = pd.read_sql_query('''SELECT * FROM PROYECTO..MD_CLIENTE''', conn)
data = pd.DataFrame(SQL_Query)
data.head(3)

,ID_CLIENTE,RUC,RAZON_SOCIAL,ACTIVIDAD_ECONOMICA,BANCA,ID_RATING,ID_GRADO_SEGUIMIENTO,ID_CLIENTE_NEGATIVO,ID_RIESGO_COVID,ID_RIESGO_POLITICO
0,1,20552103816,AGROLIGHT PERU S.A.C.,"ELAB. FRUTAS, LEG. Y HORTALIZAS.",BE,1,1,1,1,1
1,2,20538856674,ARTROSCOPICTRAUMA S.A.C.,OTRAS ACTIV.RELAC. CON SALUD HUMANA,BE,2,1,2,2,1
2,3,20553856451,BI GRAND CONFECCIONES S.A.C.,FAB. DE PRENDAS DE VESTIR.,BE,1,2,1,1,2

In [1]:
print("pruebasss")

prueba