In [1]:
import pyodbc

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      'SERVER=localhost;'
                      'DATABASE=PROYECTO;'
                      'UID=sa;'
                      'PWD=Covid2021;')

cursor = conn.cursor()

In [2]:
import pandas as pd

In [3]:
SQL_Query = pd.read_sql_query('''SELECT * FROM PROYECTO..MD_RATING''', conn)
data = pd.DataFrame(SQL_Query)
data.head(3)

   ID_RATING RATING
0          1     FF
1          2    AAA
2          3     A+